@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /*std colors*/
  --white: #fff;
  --black: #0b0a0c;
  --red: #d44355;
  --yellow: #f7d419;
  --gray: #eaeaea;

  /*main*/
  --primary: #B53071;
  --secondary:  rgba(181, 48, 113, 0.6);

  /* text */
  --text-primary: #2E2594;


  /*gradients*/
  --bg-color: rgba(234, 234, 234, 0.6);
  --overlay-color: rgba(171, 171, 171, 0.6);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--text-primary);
  /*background: var(--background);*/
  font-family: Arial, Helvetica, sans-serif;
}
